.search_input {
    width: 100vw;
    text-align: center;
    padding: 1.5rem;
    .input {
    line-height: 30px;
    padding-left: 0.8rem;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    width: 100%;
    }
}