.card_contact {
    padding: 1rem 1rem;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 3px rgb(221, 221, 221);;

    .all{

        display: flex;
        justify-content: space-between;
        gap: 16px;

        .img_container {
            width: 44px;
        }

        .star_container {
            margin-left: auto;      
        }
    }
}