nav {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px 20px 0px 0px;
    box-shadow: 1px 1px 3px rgb(221, 221, 221);;
    position: fixed;
    width: 100vw;
    height: 60px;
    bottom: 0;

    ul {    
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 90px;
    }

    a:link,
    a:visited {
        color: black;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover,
    a:active {
        text-decoration: 2px underline;
        text-underline-offset: 6px;
    }
}